:root.theme-light {
  --background-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-shadow-color: #ff8dcb;
  --title-decor-text: #353430;
  --background-image: url("../images/cover-image-light.png");
  --rec-display: none;
  --button-color: #353430;
  --button-hover: #32312d66;
  --section-header-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --title-shadow-color: #ff8dcb;
    --title-decor-text: #353430;
    --background-image: url("../images/cover-image-light.png");
    --rec-display: none;
    --button-color: #353430;
    --button-hover: #32312d66;
    --section-header-color: #353430;
  }
}
